@import "tailwindcss";

/* ---------- THEME TOKENS ---------- */
:root {
  --bg: #fafafa;
  --card: #ffffff;
  --text: #18181b;
  --muted: #71717a;
  --border: #e4e4e7;
}

:root[data-theme="dark"] {
  --bg: #0b0b0f;
  --card: #111118;
  --text: #fafafa;
  --muted: #a1a1aa;
  --border: #27272a;
}

body {
  background: var(--bg);
  color: var(--text);
}
